$spinner-size: 120px;
$spinner-position-offset: calc(50% - $spinner-size / 2);

.image-watermark {
  &__loader {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    &-spinner {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: $spinner-size;
      height: $spinner-size;
      position: absolute;
      top: $spinner-position-offset;
      left: $spinner-position-offset;
      transform: translateX(calc($spinner-position-offset * -1))
        translateY(calc($spinner-position-offset * -1));

      animation: spin 2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
